fastapi
uvicorn[standard]

sqlalchemy
pymysql

alembic

python-dotenv
pydantic
pydantic-settings

python-multipart

passlib[bcrypt]
python-jose[cryptography]

pandas
numpy

openai

reportlab

pytest
httpx